html, body {
    height: 100%;
    background-color: rgb(126, 153, 199);
}

html {
    display: table;
    margin: auto;
    
}

body {
    display: table-cell;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container div:first-child {
    margin-bottom: 30px;
}

.container div:last-child
 {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
